@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 49% 8%;
    --foreground: 223 47% 97%;
    --card: 222 42% 13%;
    --card-foreground: 223 47% 97%;
    --popover: 222 42% 13%;
    --popover-foreground: 223 47% 97%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 43% 16%;
    --secondary-foreground: 223 47% 97%;
    --muted: 222 42% 13%;
    --muted-foreground: 222 10% 74%;
    --accent: 221 83% 53% / 0.16;
    --accent-foreground: 223 47% 97%;
    --destructive: 0 91% 71%;
    --destructive-foreground: 223 49% 8%;
    --border: 223 31% 20%;
    --input: 223 31% 20%;
    --ring: 213 94% 68%;
    --sidebar: 222 47% 10%;
    --success: 158 64% 52%;
    --success-foreground: 223 49% 8%;
    --warning: 43 96% 56%;
    --warning-foreground: 223 49% 8%;
    --neutral: 215 20% 65%;
    --neutral-foreground: 223 49% 8%;
    --chart-1: 12 76% 55%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
}

@layer base {
  html {
    font-size: 14px;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
